<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
    <title>Admin Login</title>
</head>
<body>
    <div class="login-container">
        <h1>Admin Login Page</h1>
        <form action="admin/login" method="POST">
            <table>
                <tr>
                    <th>Email: </th>
                    <th><input type="email" name="e"></th>
                </tr>
                <tr>
                    <th>Password: </th>
                    <th><input type="password" name="p"></th>
                </tr>
            </table>
            <button>Login</button>
        </form>
        <a href="admin/reg">Register a new Administrator</a>
    </div>
</body>
</html>