<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Job</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
</head>
<body>
    {% for error in messages %}
        <p>{{error}}</p>
    {% endfor %}
    <div class="wraper">
        <h1 class="logo">MOVING WAR</h1>
        <h1 class="logo">Hello {{ customer.first_name }} {{ customer.last_name}}</h1>
        <form class="sub_form" action="/add/job" method="POST">
            {%csrf_token%}
            <h1>Add a New Job</h1>
            <label >
                Title:<input type="text" name="title">
            </label>
            <label>
                Start Location : <input type="text" name="start_location">
            </label>
            <label>
                End Location: <input type="text" name="end_location">
            </label>
            <label>
                Descriptions : <input type="text" name="description">
            </label>
            <label>
                Describe your load :<td><select name="attributes">

                    <option value="heavy">heavy</option>              
                    <option value="small">small</option>              
                    <option value="big">big</option>              
                </select></td>
            <label for="fragile">Fragile/Glass? <input type="checkbox" name="fragile" value="True" ></label>
                
            <label>
                Vehicle Type: <td><select name="vehicle_type">
                    <option value="Pickup">Pickup</option>              
                    <option value="Van">Van</option>              
                    <option value="XL Van">XL Van</option>              
                    <option value="Small Box Truck">Small Box Truck</option>              
                    <option value="Large Box Truck">Large Box Truck</option>              
                </select></td>
            </label>
            <label>
                Duration: (hours)<input type="number" name="duration" min=0 max=24>
            </label>
            <label>
                Date: <input type="date" name="date">
            </label>
            <label>
                Time: <input type="time" name="time">
            </label>
        <div class="control">
                <button class="btn-button" type="submit" >Create</button>
            </form>
            <form action="/dashboard" method="POST">
                {%csrf_token%}
            <button class="btn-button" type="submit">Cancel</button>
        </div>
        <a href="/user/logout">Log out</a>
    </div>
</body>
</html>