<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Login Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user.css' %}">

</head>
<body>
<div class="wraper">
    {% for error in messages %}
    <p>{{error}}</p>
    {% endfor %}
    <h1 class='logo'>MOVING WARS</h1>
    <h2>Let's start Moving!!!!</h2>
    <div class="reg_log">
        <div class="registration">
            <h2>Registration!</h2>
            <form class="sub_form" action="/create/user" method="POST">
            {%csrf_token%}
                <label>First Name:
                    <input type="text" name="first_name">
                </labelv>
                <label>Last Name:
                    <input type="text" name="last_name">
                </label>        
                <label>Email:
                    <input type="text" name="email">
                </label>        
                <label>
                    Phone:
                <input type="tel" name="phone">
                </label>
                <label>Password:
                    <input type="password" name="password">
                </label>
                <label>Confirm Password
                    <input type="password" name="confirm-password">
                </label>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="login">
            <h2>Login</h2>
            <form class="sub_form"  action="/user/login" method="POST">
                {%csrf_token%}
                <label>Email:
                    <input type="text" name="email">
                </label>        
                <label>Password:
                    <input type="password" name="password">
                </label>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="footer">
            <a class="contractor_link" href="/contractor/">Contractors Enter Here!</a>
        </div>
</div>  
</body>
</html>