<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
    <title>View Show</title>
</head>
<body>
<div class="wraper">
    
        <h1 class="logo">Hello {{ customer.first_name }} {{ customer.last_name }}</h1>
        <h2>Here the Job detail!!!</h2>
    <div class="views">
        
        <div class="info">
            <p>Title: {{job.title}}</p>
            <p>Start Location: {{ job.start_location}}</p>
            <p>End Location: {{ job.end_location}}</p>
            <p>Description: {{ job.description }}</p>
            <p>Attributes: {{ job.attributes}}</p>
            <p>Fragile: {{job.fragile}}</p>
            <p>Vehicle Type: {{ job.vehicle_type}}</p>
            <p>Duration: {{ job.duration}}</p>
            <p>Dat: {{job.date}}</p>
            <p>Pick Up Time: {{job.time}}</p>
            <p>Created At: {{job.created_at}}</p>
            <p>Updated At: {{job.updated_at}}</p>
        </div>  

        <a href="/dashboard">dashboard</a>
        <a href="/user/logout">Log out</a>
    </div>
    <div class="views">
        <table>
            <tr>
                <th> Contractor </th>
                <th> Rating </th>
                <th> Posted </th>
                <th> Amount </th>
                <th> Actions </th>
            </tr>
            {% if not job.bid.all %}
            {% for i in job.bids.all %}
            <tr>
                <th><a href="view_contractor/{{ i.contractor.id }}">{{ i.contractor.fname }}</a></th><!--make a contractor view page-->
                <th>{{ i.contractor.rating.average }}</th>
                <th>{{ i.updated_at }}</th>
                <th>${{ i.amount }}.00</th>
                <th><a class="button" href="/acceptbid/{{ i.id }}">Accept Bid</a></th>
            </tr>
            {% endfor %}
            {% endif %}
            {% if job.bid.all %}
            <tr>
                <th><a href="view_contractor/{{ i.contractor.id }}">{{ job.bid.first.contractor.fname }}</a></th><!--make a contractor view page-->
                <th>{{ job.bid.first.contractor.rating.average }}</th>
                <th>{{ job.bid.first.updated_at }}</th>
                <th>${{ job.bid.first.amount }}.00</th>
                <th><a class="button" href="/cancelbid/{{ job.bid.first.id }}">Cancel Bid</a></th>
            </tr>
            {% endif %}
        </table>
    </div>
</div> 
</body>
</html>