<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Show</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_style.css' %}">
</head>
<body>
<div class="wraper">
    
        <h1 class="logo">Hello {{ customer.first_name }} {{ customer.last_name }}</h1>
        <h2>Here the Job detail!!!</h2>
    <div class="views">
        
        <div class="info">
            <p>Title: {{job.title}}</p>
            <p>Start Location: {{ job.start_location}}</p>
            <p>End Location: {{ job.end_location}}</p>
            <p>Description: {{ job.description }}</p>
            <p>Attributes: {{ job.attributes}}</p>
            <p>Fragile: {{job.fragile}}</p>
            <p>Vehicle Type: {{ job.vehicle_type}}</p>
            <p>Duration: {{ job.duration}}</p>
            <p>Dat: {{job.date}}</p>
            <p>Pick Up Time: {{job.time}}</p>
            <p>Created At: {{job.created_at}}</p>
            <p>Updated At: {{job.updated_at}}</p>
        </div>  

        <a href="/dashboard">dashboard</a>
        <a href="/user/logout">Log out</a>
    </div>
</div> 
</body>
</html>