<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/contractor.css' %}">
    <title>Job Page</title>
</head>
<body>
    <div class="header">
        <h1>Hello {{ user.fname }}, here are the job details!</h1>
        <a href="/contractor/logout">Logout</a>
    </div>
    <div class="container">
        <table>
            <tr>
                <th>Job Title:</th>
                <th>{{ job.title }}</th>
            </tr>
            <tr>
                <th>Customer Name:</th>
                <th>{{ job.customer.first_name }}</th>
            </tr>
            <tr>
                <th>Date:</th>
                <th>{{ job.date }}</th>
            </tr>
            <tr>
                <th>Time:</th>
                <th>{{ job.time }}</th>
            </tr>
            <tr>
                <th>Duration:</th>
                <th>{{ job.duration }}</th>
            </tr>
            <tr>
                <th>Start Location:</th>
                <th>{{ job.start_location }}</th>
            </tr>
            <tr>
                <th>Destination Location:</th>
                <th>{{ job.end_location }}</th>
            </tr>
            <tr>
                <th>Description:</th>
                <th>{{ job.description }}</th>
            </tr>
        </table>
        <div class="buttons">
            <a class="button decline" href="/contractor/cancel">Go Back</a>
            <a class="button form" href="/contractor/{{ job.id }}/bid">Make Bid</a>
        </div>
    </div>

</body>
</html>