*{
    margin: 0px;
    padding: 0px;
}
.login-container{
    width: 99%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.messages{
    display: flex;
    justify-content: center;
}
.error{
    text-align: center;
    list-style-type: none;
    color: red;
}
table{
    border: 3px solid black;
}
.table{
    margin-left: 20px;
    margin-top: 40px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header a{
    font-size: 15px;
    margin-right: 10px;
}